# 1. ملفات بيئة التطوير (لتجنب رفع إعداداتك الشخصية)
.vscode/
.idea/

# 2. ملفات البيانات (مهم جداً لخصوصية المتطوعين وحجم المستودع)
*.csv
dataset/
data/

# 3. ملفات بايثون والذكاء الاصطناعي المؤقتة (للمرحلة القادمة)
__pycache__/
venv/
env/
.env

# 4. ملفات نظام التشغيل المخفية
.DS_Store
Thumbs.db

# 5. ملفات بناء الأردوينو (Compiled Binaries)
build/
*.elf
*.bin
*.hex
